* {
  margin: 0;
}
body {
  font-family: Lato;
}

main {
  width: 1440px;
  margin: 0 auto;
}

/* banner section */

.banner-section {
  display: flex;
  gap: 97px;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
}

.banner-coloum1 {
  padding-top: 190px;
  padding-bottom: 145px;
  padding-left: 240px;
}

.banner-section img {
  padding-top: 50px;
  padding-right: 240px;
}

.section-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 32px;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.btn-primary {
  padding: 20px 43px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
}

/* feature section */

.featured-flower {
  margin-top: 178px;
}

.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.featured-section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.featured-flowers {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 24px;
}

.flowers-item1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding-top: 80px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0;
  width: 450px;
  height: 430px;
}

.flowers-item2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding-top: 80px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0;
  width: 450px;
  height: 430px;
}
.flowers-item3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding-top: 80px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 0;
  width: 450px;
  height: 430px;
}

.flowers-item-name {
  margin-top: 30px;
}

.flowers-item-name {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 300px;
}

.flowers-item-name a {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

/* support section */

.support-container {
  margin-top: 128px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px;
}

.support-item h4 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

/* hot deal section */

.hot-deal {
  margin-top: 128px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  text-align: center;
}

.hot-deals-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 200px;
  padding: 50px;
}

.hot-deals-prize {
  color: #e55473;
}

/* new section */

.order-flower {
  margin-top: 128px;
  background: rgba(5, 151, 160, 0.15);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 128px;
}

.btn-order {
  padding: 20px 43px;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #8cabff;
}

.order-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;
  gap: 20px;
}

.order-items input[type="text"],
input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 15px;
  color: #757575;
  font-size: 16px;
  font-weight: 700px;
  border: 0;
  border-radius: 5px;
  background: #fdfdfd;
  width: 150%;
}

.social-media {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 128px;
}

.social-media-post {
  display: flex;
  justify-content: space-around;
}

.get-latest-deals {
  width: 1440px;
  height: 449px;
  margin: 0 auto;
  background-image: url("Flower Asset/Rectangle 9.png");
}

.deals-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 190px;
}

.deals-items {
  padding: 70px;
  align-items: center;
  text-align: center;
}

.deals-items input[type="email"] {
  display: inline-block;
  width: 700px;
  height: 30px;
  margin-right: 14px;
}

.footer {
  padding: 50px;
  width: 1922px;
  margin-top: 128px;
  background: #111010;
}

.footer-title {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.footer-differenttile {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
}

.footer-description {
  margin-top: 28px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.footer-copy-right {
  margin-top: 32px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
